    <div class=card>
      <div class="name">
        <%= @flat.name %>
      </div>
      <div class="address">
        <%= @flat.address %>
      </div>
      <div class="numbers">
        <p>Number of guests:<%= @flat.number_of_guests %></p>
        <p>Price per Night: £<%= @flat.price_per_night %></p>
      </div>
    </div>